<a href="https://colab.research.google.com/github/vchandraiitk/python-basics/blob/main/Copy_of_PNB_01_Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting and Knowing your Data


### Step 1. Import the necessary libraries

In [4]:
# YOUR CODE HERE
import pandas as pd

### Step 2. Import the dataset from this [address](https://cdn.iisc.talentsprint.com/CDS/Datasets/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [5]:
# YOUR CODE HERE
df = pd.read_csv('/content/u.user', sep = '|', index_col='user_id')

### Step 4. See the first 25 entries

In [ ]:
# YOUR CODE HERE
df.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [ ]:
# YOUR CODE HERE
df.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [7]:
# YOUR CODE HERE
df.shape[0]

943

### Step 7. What is the number of columns in the dataset?

In [6]:
# YOUR CODE HERE
df.shape[1]

4

### Step 8. Print the name of all the columns.

In [8]:
# YOUR CODE HERE
df.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [9]:
# YOUR CODE HERE
df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [13]:
# YOUR CODE HERE
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Step 11. Print only the occupation column

In [21]:
# YOUR CODE HERE
df["occupation"]
#OR
#[x for x in df.occupation]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [25]:
# YOUR CODE HERE
df["occupation"].nunique()
df.occupation.value_counts()
df.occupation.unique()
df["occupation"].nunique()

21

### Step 13. What is the most frequent occupation?

In [65]:
# YOUR CODE HERE
df.occupation.value_counts().head(1).index[0]

'student'

### Step 14. Summarize the DataFrame.

In [66]:
# YOUR CODE HERE
df.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns

In [ ]:
# YOUR CODE HERE

### Step 16. Summarize only the occupation column

In [ ]:
# YOUR CODE HERE

### Step 17. What is the mean age of users?

In [70]:
# YOUR CODE HERE
round(df["age"].mean())

34

### Step 18. What is the age with least occurrence?

In [93]:
# YOUR CODE HERE
df["age"].value_counts().tail(1).index[0]
df["age"].value_counts().last_valid_index()
df["age"].value_counts()
df["age"].value_counts().last_valid_index()

73